<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>780304955855-rqgga9lj405v74gue4t7mo10lovighh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780304955855-rqgga9lj405v74gue4t7mo10lovighh6</string>
	<key>API_KEY</key>
	<string>AIzaSyDA7DnqZvWf2yf1R8Qs_4EkZTEJAkMKCvU</string>
	<key>GCM_SENDER_ID</key>
	<string>780304955855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.unknown</string>
	<key>PROJECT_ID</key>
	<string>final-project-savvycom</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-savvycom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780304955855:ios:ab52586bc02d347a</string>
	<key>DATABASE_URL</key>
	<string>https://final-project-savvycom.firebaseio.com</string>
</dict>
</plist>